<!DOCTYPE html>
<html>
<head>
    <title>GKE Chaos </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    
    <div class="wrapper-chaos">
        <div class="box title">
            <h1>Chaos Mode</h1>
        </div>
        <div class="box b">
            <p>Services</p>
            <table id="pods">
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="box c">
            <p>Nodes</p>
            <table id="nodes">
                <tbody>
                    
                </tbody>
            </table>
        </div>
        </div>
</body>
</html>
