<!DOCTYPE html>
<html>
<head>
    <title>Live Site Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body style="margin: 0;">
    <script>
        var frames = JSON.parse('{{ preview_list|tojson|safe }}')
        console.log(frames)
        var load_timeout = 0;
        var i = 0, len = frames.length;
        function ChangeSrc()
        {
            if (i >= len) { i = 0; } // start over
            $('#preview_iframe').attr('src', frames[i++]);
            setTimeout('ChangeSrc()', 10000);
        }
        function GetLoad(){
        $.ajax({
            url: '/get-load',
            success: function(data) {
            console.log(data)
            // Add Data to graph
            json_data = JSON.parse(data)
            load_timeout(data)
            }
        });

        setTimeout(GetLoad, 10000);
        }
    </script>
    <iframe src="" title="Site Preview" scrolling="no" id="preview_iframe"></iframe>
    <script>
        ChangeSrc();
    </script>
</body>
</html>